body {
    background-color: rgb(0, 0, 0);
}
.contenedor {
    background-image: url("imagen/fondo1.jpg");
    display: flex;
   margin: auto;
   text-decoration: none;
}

.titulo {
margin-left: 15%;
font-size: 2rem;
color: rgb(97, 100, 102);
}
.title {
    color: rgb(197, 191, 186);
}
.carrito {
    margin-left: 25%;
    color: rgb(210, 210, 228);
    padding: 30px;
}

.cantidad {
    padding: 20px;
    color: aliceblue;
    display: flex;
}
.cabecera {
    display: flex;
    justify-content: center;
    background-color: rgb(196, 145, 51);
}
.cabecera a{
    color: rgb(19, 16, 16);
    padding: 20px 35px;
    text-decoration: none;
}
.cabecera a:hover{
    box-shadow: 0 0.3rem 0.5rem rgba(7, 6, 6, 0.5);
}
.item {
    text-align: center;

 
}

.prod {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    padding: 20px 30px;

}
.prod a{
    text-decoration: none;
}
.cartaProducto {
    border-width: 1px;
    border-style: outset;
    border-color: #6d6868; /* Color azul */
    border-radius: 15px;
}
.cartaProducto:hover{
    box-shadow: 0 0.3rem 0.9rem rgba(206, 131, 32, 0.65);
    
}

.texto {
    color: rgb(163, 153, 153);
    text-align: center;
    font-size: 1.5rem;
}
.detallecarrito {
    background-color: aliceblue;
}
.iniciocarrito {
    text-align: center;
    background-color: #110e0b;
    color: rgb(233, 225, 225);
    border: none;
}
.inicioc {

    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(231, 33, 33);
    border-radius: 5px;
    box-sizing: border-box;
}
.detallecard {
    color: white;
    border: 0.85px solid #7a6c6c;
    padding: 16px;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.detallecard button {
  background-color: #d4d2c0;
  border-radius: 35px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(6, 7, 6);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.detallecard button:hover {
  box-shadow: rgba(108, 129, 116, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.conteo {
    display: flex;
    justify-content: center;
}
form {
    width: 25%;
    max-width: 500px ;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid rgb(182, 174, 174);
    border-radius: 10px;
    background-color: #4c8554;
  }

  label {
 
    margin-bottom: 8px;
    font-weight: 100;
  }
  
  input[type="text"], input[type="email"], button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(182, 174, 174);
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #110e0b;
    color: rgb(233, 225, 225);
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1d1b1a;
  }
  .notificacion {
    color: white;
    text-align: center;
  }