.contenedor {
    display: flex;
}
.titulo {
margin-left: 450px;
font-size: 2rem;
}
.carrito {
    margin-left: 450px;
    color: rgb(8, 8, 10);
    padding: 20px;
}
.cabecera {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 238, 227);
}
.cabecera a{
    color: rgb(10, 7, 7);
    padding: 20px 35px;
    text-decoration: none;
}
.cabecera a:hover{
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}
.prod {
    display: flex;
    padding: 10px 40px;
    justify-content: center;
}
.prod a{
    text-decoration: none;
}
.cartaProducto:hover{
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}
.texto {
    color: black;
    text-align: center;
    font-size: 2rem;
}


